@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Merriweather&display=swap');


* {
    margin: 0;
    padding: 0;
}



body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #0D1F22;
    color: #DF9A57;
}

.stng-white {
    color: #FFFFFF;
}

.container {
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img {
    width: 30%;
    height: auto;
}

.conteudo_principal {
    width: 615px;
}

.conteudo_principal_titulo {
    font-size: 36px;
    margin-bottom: 20px;
    font-family: 'Lato', sans-serif;
}

.conteudo_principal p {
    font-size: 24px;
    margin-top: 20px;
    font-family: 'Merriweather', serif;
}
